.first-letter::first-letter{
    color: coral;
}
.first-line::first-line{
    color: coral;
}
.first-line::first-letter{
    color: blue;
}
li::marker{
    color: red;
    font-size: 40px;
}
.before::before{
    content: "";
    background: url(logo.jpg) center center no-repeat;
    display: inline-block;
    width: 85px;
    height:85px ;
}
/* para colocar a imagem de background com o pseudoelementos before,  */
.after::after{
    content: url(logo.jpg);
    }
    /* adiciona uma imagem antes do meu h2. */
    